.userAvatar {
  border-radius: 50%;
  background-color: rgba(22, 13, 13, 0.884);
  width: 380px;
  margin-bottom: 32px;
  margin-top: 24px;
}

.userName {
  font-weight: bold;
  font-size: 62px;
  margin-bottom: 32px;
}

.userInfo {
  font-size: 54px;
  color: gray;
}

.userList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 36px;
}

.userListItem {
  border-top: 3px solid rgb(179, 177, 177);
  border-left: 3px solid rgb(179, 177, 177);
  padding: 32px;
  background-color: rgb(224, 223, 223);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 54px;
  width: 270px;
}

.userCard {
  border: 4px solid black;
  border-radius: 18px;
  padding-top: 24px;
  width: 810px;
}

.userStats {
  font-weight: bold;
}

.userListItem:first-child {
  border-left: none;
  border-bottom-left-radius: 18px;
}

.userListItem:last-child {
  border-bottom-right-radius: 18px;
}
