.friendList {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  max-width: 800px;
}

.friendCard {
  width: 132px;
  border: 2px solid black;
  border-radius: 8px;
  padding: 28px 20px;
  width: 100px;
  text-align: center;
}

.friendName {
  font-weight: bold;
  font-size: 32px;
}

.online {
  color: green;
  font-size: 24px;
}

.offline {
  color: red;
  font-size: 24px;
}
